argh==0.26.2
beautifulsoup4==4.7.1
beautifulsoup4-slurp==0.0.2
bs4==0.0.1
certifi==2019.6.16
chardet==3.0.4
console==0.94
docutils==0.14
eight==0.4.2
enum34==1.1.6
ezenv==0.86
future==0.16.0
get==2019.4.13
html5lib==1.0.1
idna==2.8
inflect==2.1.0
jaraco.itertools==4.4.2
lxml==4.6.5
more-itertools==7.2.0
package-name==0.1
post==2019.4.13
public==2019.4.13
Pygments==2.4.2
pyTelegramBotAPI==3.6.6
pytz==2019.1
query-string==2019.4.13
request==2019.4.13
requests==2.22.0
selenium==3.141.0
six==1.12.0
soupsieve==1.9.2
sqlparse==0.3.0
urllib3==1.25.3
virtualenv==16.6.2
webencodings==0.5.1
wolframalpha==3.0.1
xmltodict==0.12.0
